* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el menú */
.menu {
    background-color: #178aee; /* Color del menú */
    padding: 10px;
}

.menu ul {
    list-style-type: none; /* Elimina los estilos de la lista */
    text-align: center; /* elementos de la lista al centro */
}

.menu ul li {
    display: inline; 
    margin-right: 20px; /* Espacio entre los elementos(a la derecha) */
}

.menu ul li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #fff; /* Color del texto de los enlaces */
    font-size: 18px; /* Tamaño del texto */
}

.menu ul li a:hover {
    color: #ffcc00; /* Color del texto al pasar el ratón */
}
